<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>
        ngQueryString by GrayBear
    </title>
</head>

<body class="container" ng-app="test" ng-controller="TestCtrl">
    <div class="container">
        <div class="inner">

            <header>
                <h1>ngQueryString</h1>
            </header>

            <section id="downloads" class="clearfix">
                <a href="https://github.com/GrayBear/ngQueryString/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
                <a href="https://github.com/GrayBear/ngQueryString/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
                <a href="https://github.com/GrayBear/ngQueryString" id="view-on-github" class="button"><span>View on GitHub</span></a>
            </section>

            Produced by <a href="http://graybear.github.io">GrayBearWD</a>

            <hr>

            <section id="main_content">

                <h1>Contents</h1>

                <a href="" ng-click="scrollTo('demo')">Demo</a><br />
                <a href="" ng-click="scrollTo('howtouse')">How to use</a>


                <hr />



                <h2 id="demo">Demo</h2>

                <h3>
                    setQueryString(name, value)
                </h3>

                <p>Adds a query sting to your angular path</p>

                <form ng-submit="setQueryStringClick()">

                    <div class="form-group">
                        <label for="setQueryStringName">Name</label>
                        <input class="form-control" id="setQueryStringName" ng-model="setQueryString.name" type="text" placeholder="add name of querystring parameter" />
                    </div>

                    <div class="form-group">
                        <label for="setQueryStringValue">Value</label>
                        <input class="form-control" id="setQueryStringValue" ng-model="setQueryString.value" type="text" placeholder="add value of querystring parameter" required />
                    </div>

                    <input class="btn btn-primary" type="submit" value="setQuerySting(name, value)" />
                </form>

                <p>Please note new query string are appended to the existing ones</p>

                <hr />

                <h3>
                    getAllQueryString()
                </h3>

                <p>returns an array of all the query strings </p>


                <form ng-submit="getAllQueryStringClick()">

                    <input class="btn btn-primary" type="submit" value="getAllQuerySting()" />

                </form>

                <div ng-show="getAllQueryString.submitted" class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Results</h3>
                    </div>
                    <div class="panel-body">
                        {{getAllQueryString.results}}
                    </div>
                </div>

                <h3>
                    getQueryString(name)
                </h3>


                <p>gets a query string parameter by name </p>



                <form ng-submit="getQueryStringClick()">

                    <div class="form-group">
                        <label for="getQueryStringName">Name</label>
                        <input class="form-control" id="getQueryStringName" ng-model="getQueryString.name" type="text" placeholder="add name of querystring parameter" />
                    </div>

                    <input class="btn btn-primary" type="submit" value="getQuerySting(name)" />

                </form>

                <div ng-show="getQueryString.submitted" class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            Results for
                            <span ng-bind="getQueryString.name"></span>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <p ng-bind="getQueryString.results"></p>
                    </div>
                </div>

                <hr />

                <h3>
                    clearQueryString(name)
                </h3>

                <p>Removes an individual query string parameters by name</p>

                <form ng-submit="clearQueryStringClick()">

                    <div class="form-group">
                        <label for="clearQueryStringName">Name</label>
                        <input class="form-control" id="clearQueryStringName" ng-model="clearQueryString.name" type="text" placeholder="add name of querystring parameter" />
                    </div>

                    <input class="btn btn-primary" type="submit" value="clearQuerySting(name)" />

                </form>

                <hr />

                <h3>
                    clearAllQueryString()
                </h3>

                <p>Removes an all query string parameters</p>

                <form ng-submit="clearAllQueryStringClick()">

                    <input class="btn btn-primary" type="submit" value="clearAllQueryString()" />

                </form>

            </section>


            <section>

                <h2 id="howtouse">How to use</h2>

                <p>Add the <i>ngQuerysting.min.js</i> file below you angular file and above your application</p>

                <p class="code">
                    &lt;script src=&quot;app/libs/angular/angular.min.js&quot;&gt;&lt;/script&gt <br />
                    &lt;script src=&quot;app/libs/ngQuerystring.min.js&quot;&gt;&lt;/script&gt;
                </p>

                <p>Reference the ngQueryString module in your application </p>

                <p class="code">
                    angular.module(&#39;application&#39;, [&#39;ngQueryString&#39;])
                </p>

                <p>Add the service to your controller</p>

                <p class="code">
                    .controller(&#39;controller&#39;, [&#39;$scope&#39;, &#39;ngQueryString&#39;, function ($scope, ngQueryString) angular.module(&#39;test&#39;, [&#39;ngQueryString&#39;])
                </p>

                <p>Use the ngQuerysting as you wish</p>

                <p>e.g. </p>
                <p class="code">
                    ngQueryString.setQueryString(name, value);
                </p>
                <p class="code">
                    $scope.getQueryString.results = ngQueryString.getQueryString(&quot;name&quot;);
                </p>


                <p>for further information on how to use please review the demo code here <a href="https://github.com/GrayBear/ngQueryString">GitHub</a></p>


            </section>


            <footer>

                Produced by <a href="http://graybear.github.io">GrayBearWD</a>

            </footer>


            <script src="app/libs/angular/angular.min.js"></script>
            <script src="app/libs/ngQuerystring.min.js"></script>

            <script src="app/app.mdl.min.js"></script>
        </div>
    </div>
</body>
</html>